body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: hsl(0, 0%, 89%);
    display: flex;
    flex-direction: column;
    margin: 0;
    align-items: center;
}
.weatherForm{
    margin: 20px;
}
.inputCity{
    padding: 11px;
    font-size: 2rem;
    font-weight: bold;
    margin: 10px;
    border: 2px black solid;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}
button[type="submit"]{
    padding: 20px;
    font-size: medium;
    border-radius: 13px;
    -webkit-border-radius: 13px;
    -moz-border-radius: 13px;
    -ms-border-radius: 13px;
    -o-border-radius: 13px;
    background-color: blue;
    color: white;
}
.card{
    background: linear-gradient(180deg, rgba(60, 209, 38, 0.454),rgba(251, 255, 0, 0.354));
    padding: 100px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 2px 2px 5px rgb(47, 47, 47);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
h1{
    font-size: 3rem;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    margin: -25px;
    padding: 0px;
}
.suhu{
    font-size: 35px;
    margin: 25px;
    margin-bottom: -10px;
}
.cuaca{
    font-size: 20px;
    margin-top: -10px;
}
.kelembapan{
    font-size: 20px;
    margin-top: 25px;
}
.emoji{
    font-size: 50px;
    margin-top: 3px;
    margin-bottom: 5px;
}
.error{
    color: red;
    font-weight: bold;
    font-size: 40px;
}